*{
  margin:0;
  /* padding:0; */
  box-sizing:border-box;    
}

html{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; 
  background-color: #fff;
  color: #555;
  font-family: 'lato','Arial','sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body{
  margin:0;
}

.section {
  padding:80px 0px;
  margin:0,
}

.row{
  width: 1140px;
  margin: 0 auto;
  /* display:flex; */
  /* align-items: center; */
}

input:focus{
  outline: none;
  background:transparent;
}

/*--------Grid Style------*/
.span-2-of-2 {
	width: 100%;
  display: flex;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%; 
	}
	.span-1-of-2 {
		width: 100%; 
	}
}

.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width:32.26%
}